In [3]:
#write a python program to convert kilometers to miles.

kilometers = float(input("enter the kilometers"))

#1 km = 0.621371 miles

miles = (0.621371 * kilometers)
print(miles)

enter the kilometers3
1.8641130000000001

In [6]:
#write a python program to convert celsius to fahrenheit?

celsius = float(input("enter the temperature in celsius"))

farhenheit = (celsius*9/5)+32
print(farhenheit)

enter the temperature in celsius2
35.6

In [7]:
import calendar
year=int(input("enter the year"))

calendar_year=calendar.calendar(year)
print(calendar_year)

enter the year2021
                                  2021

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7       1  2  3  4  5  6  7
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       8  9 10 11 12 13 14
11 12 13 14 15 16 17      15 16 17 18 19 20 21      15 16 17 18 19 20 21
18 19 20 21 22 23 24      22 23 24 25 26 27 28      22 23 24 25 26 27 28
25 26 27 28 29 30 31                                29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [10]:
#write a python program to solve quadratic equation
import cmath

#ax2+bx+c = 0 : giving values of a,b,c
a = int(input("enter the number for a"))
b = int(input("enter the number for b"))
c = int(input("enter the number for c"))

# calculating  the discriminant

dis = b*b-4*a*c

#calculating the roots

root1 = -b+cmath.sqrt(dis)/2*a
root2 = -b-cmath.sqrt(dis)/2*a

print(root1)
print(root2)

enter the number for a4
enter the number for b8
enter the number for c2
(3.313708498984761+0j)
(-19.31370849898476+0j)

In [13]:
#write a python program to swap two variables without temp variable

a=int(input())
b=int(input())

a,b=b,a
print(a)
print(b)

2
3
3
2