In [1]:
import re

In [5]:
prog=re.compile(r'm\w\w\w')
string = "man hen cat madddd"
result = prog.search(string)
print(result.group())

madd

In [6]:
result = re.search(r'm\w\w\w\w',string)
print(result.group())

maddd

In [8]:
a = "man mop mad mine"

result = re.findall(r'm\w\w', a)
print(result)

['man', 'mop', 'mad', 'min']

In [45]:
a = "man mop mad mine"

result = re.match(r'm\w\w',a)
print(result)

<re.Match object; span=(0, 3), match='man'>

In [13]:
a = "man mop mad mine"

result = re.split(r'\W+',a)
print(result)

['man', 'mop', 'mad', 'mine']

In [14]:
a = "IPL is played in India"

result = re.sub(r'India','Dubai',a)
print(result)

IPL is played in Dubai

In [20]:
a = "apple a day must be eaten at 5am"

result= re.findall(r'a[\w]*',a)
print(result)

['apple', 'a', 'ay', 'aten', 'at', 'am']

In [22]:
a = "apple a day must be eaten at 5am"

result = re.findall(r'\ba[\w]*\b',a)
print(result)

['apple', 'a', 'at']

In [25]:
a = "apple a day must be eaten at 5am"

result = re.findall(r'\d[\w]*',a)
print(result)

['5am']

In [28]:
b = "one two three four five six seven eight nine ten eleven"

result = re.findall(r'\b\w{5}\b',b)
print(result)

['three', 'seven', 'eight']

In [36]:
c = "I am learning Python frommm 4 months"
result = re.findall(r'\b\w{6}\b',c)
print(result)

['Python', 'frommm', 'months']

In [38]:
result = re.search(r'\b\w{6,}\b',c)
print(result.group())

learning

In [44]:
d = "one two threee"

result = re.findall(r't[\w]*\Z',d)
print(result)

['threee']

In [46]:
d = "one two threee"

result = re.findall(r'\Ao[\w]*',d)
print(result)

['one']

In [52]:
d = "akhil ankit arundathi animesh sreekar"

result = re.findall(r'an[\w]*',d) 
result1= re.findall(r'ak[\w]*',d)
print(result+result1)

['ankit', 'animesh', 'akhil']

In [54]:
e = " Sreekar 24 20-08-1997 Praveen 25 03-04-1997 Thanooz 24 23-01-1998 Newyear 2021 1-01-2021"

result = re.findall(r'\d{2}-\d{2}-\d{4}',e)
print(result)

['20-08-1997', '03-04-1997', '23-01-1998']

In [58]:
f = "Sreekar 8106374484 Praveen 9701116116 Thanooz 8125284855"
result = re.findall(r'\d+',f)
print(result)

['8106374484', '9701116116', '8125284855']

In [61]:
f = "Sreekar 8106374484 Praveen 9701116116 Thanooz 8125284855"
result = re.findall(r'\D+',f)
print(result)

['Sreekar ', ' Praveen ', ' Thanooz ']

In [69]:
g = 'Hello World'

result = re.findall(r'^He',g)
if result == ['He']:
    print("string starts with He")
else:
    print("not starts with He")

string starts with He

In [73]:
result = re.findall(r'world$',g)
print(result)
if result==['World']:
    print("ends with World")
else:
    print("doesn't ends with World")

[]
doesn't ends with World

In [74]:
h = "Sreekar got 80 marks,Praveen got 85 marks, Thanooz got 95 marks"

result = re.findall(r'[A-Z][a-z]*',h)
print(result)

['Sreekar', 'Praveen', 'Thanooz']

In [79]:
result = re.findall(r'\d+',h)
print(result)

['80', '85', '95']

In [83]:
i  = "I have a meeting at 4am and 5pm IST"

result = re.findall(r'\dam|\dpm',i)
print(result)

['4am', '5pm']

In [84]:
j = "sreekarreddy133@gmail.com venkatashobha301@gmail.com hemanthchandan4865@gmail.com"

result = re.findall(r'\S+@\S+',j)
print(result)

['sreekarreddy133@gmail.com', 'venkatashobha301@gmail.com', 'hemanthchandan4865@gmail.com']